{% extends "default.njk" %}

{% block head %}
<meta property="article:published_time" content="{{ date | date('YYYY-MM-DD') }}" />
{% endblock %}

{% block main %}
<article>
    <h2>{{ title }}</h2>
    <p class="posted-at">{{ date | date }} |
        {% set sep = joiner(" | ") %}
        {% for tag in tags %}
        {% if tag != "blog" %}
        {{ sep() }}{{ tag }}
        {% endif %}
        {% endfor %}
    </p>
    {{ content | safe }}
</article>
{% endblock %}