@import url('https://fonts.googleapis.com/css?family=Nixie+One');

#content {
    position: absolute;
    z-index: 1;
    color: #DDD;
    font-family: 'Nixie One', cursive;
    font-size: 1.2em;
    max-width: 40em;
    line-height: 1.2;
    overflow-y: auto;
    max-height: 100%;
}

#intro {
    margin: 3em;
}

#content h1, #content h2 {
    margin-top: 0;
    color: white;
}

#content ul {
    padding: 0;
    list-style-type: none;
}

#content li {
    margin: 0.5em 0;
}

#content a {
    color: white;
}